* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

header li:hover {
  cursor: pointer;
}

img:hover {
  cursor: pointer;
}

section h3:hover {
  cursor: pointer;
}

footer p, h3, img:hover {
  cursor: pointer;
}

footer #index li:hover {
  cursor: pointer;
}


#wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  
}

.header {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  position: fixed;
  background-color: rgba(255,255,255,0.5);
  z-index: 3;
  color: black;
  font-size: 16px;
  
  /* vertical-align: middle; */
} 

.roll {
  background-color: black;
  color: white;
  font-size: 16px;
}

header #nav_1 {
  font-family: 'Noto Sans Display', sans-serif;
  /* font-size: 16px; */
  position: absolute;
  top: 50%;
  margin-left: 145px;
  float: left;
  transform: translate(0, -50%);
}

header #nav_1 ul #menu {
  padding-right: 45px;
}

header #nav_1 ul li {
  float: left;
  /* color: black; */
  padding-right: 20px;
}

header #nav_1 ul li:hover {
  color: blue;
  /* font-size: 20px; */
}

header #nav_2 {
  float: right;
  font-family: 'Noto Sans Display', sans-serif;
  /* font-size: 16px; */
  /* margin-right: 60px; */
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 83.5%;
}

header #nav_2 ul li {
  float: left;
  /* color: black; */
  padding-left: 20px;
}

header #nav_2 ul li:hover {
  color: blue;
  /* font-size: 20px; */
}

header #logo {
  width: 100px;
  height: 20px;
  margin: 0 auto;
  /* background-color: white; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header #logo img {
  width: 100%;
  height: 20px;
  margin: 0 auto;
}

#slider {
  width: 100%;
  height: 910px;
  position: relative;
  top: 0;
  /* background-color: black; */
  background-color: rgba(255,255,255,0.5) ;
  /* opacity: 0.5; */
  z-index: 1;
  padding: 0;
} 

video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: fill;
}

section {
  width: 100%;
  height: auto;
  position: relative;
  top: 200px;
  /* background-color: orange; */
}

section #description {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  /* background-color: burlywood; */
  /* overflow: hidden; */
}

section #description h1 {
  /* background-color: burlywood; */
  margin-left: 140px;
  text-align: left;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 40px;
  line-height: 0;
}

section #description h1:hover {
  color:blue;
}

section #description ul {
  width: 1618px;
  height: auto;
  margin: 0 auto;
  padding-top: 0;
  overflow-x: hidden;
  white-space: nowrap;
  /* top: 30px; */
  /* background-color: black; */
}

/* section #description ul li {
  width: 404.5px;
  height: 100%;
  float: left;
} */

section #description .container {
  width: 100%;
  height: 50px;
  /* background-color: brown; */
  position: relative;
  top: 260px;
}

section #description .container #left_1 {
  width: 50px;
  height: 100%;
  float: left;
  margin-left: 50px;
  background-color: white;
  border: 0;
  /* opacity: 0; */
}

section #description .container #right_1 {
  width: 50px;
  height: 100%;
  float: right;
  margin-right: 50px;
  background-color: white;
  border: 0;
}

section #description .container #left_1 img {
  width: 100%;
  height: 100%;
}

section #description .container #right_1 img {
  width: 100%;
  height: 100%;
}

section #description .container img:hover {
  width: 400px;
  transform:scale(1.2);
  transition: transform.3s;
}

section #description ul li {
  width: 470px;
  height: 600px;
  /* margin-left: 0; */
  /* margin-top: 0;  */
  /* background-color: blue; */
  display: inline-block;
}

section #description ul li div {
  width: 470px;
  height: 480px;
  /* text-align: center; */
  background-color: #f7f7f7;
}

section #description ul li div img {
  width: 80%;
  height: 350px;
  margin-top: 50px;
  margin-left: 45px;
  /* background-color: #f7f7f7; */
}

section #description ul li div img:hover {
  width: 400px;
  transform:scale(1.1);
  transition: transform.3s;
} 

section #description  ul li h3 {
  font-family: 'Noto Sans Display', sans-serif;
  margin-left: 0;
  /* text-align: left; */
  /* line-height: 0; */
  /* background-color: khaki; */
  margin: 0;
}

section #description  ul li h3:hover {
  color:blue;

}

section #description ul li img {
  width: 100%;
  height: 100%;
}

/* #description_color {
  width: 100%;
  height: 357px;
  position: absolute;
  top: 910px;
  background-color: #f7f7f7;
  opacity: 0.5; 
}  */

section #article_1 {
  width: 100%;
  height: 800px;
  /* background-color: yellow; */
  margin-top: 65px;
  /* opacity: 0.5; */
  /* overflow: hidden; */
}

section #article_1 h1 {
  text-align: left;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 40px;
  color: black;
  /* margin-top: 250px; */
  margin-left: 140px;
  /* background-color: chocolate; */
  line-height: 0;
}

section #article_1 h1:hover {
  color:blue;
}

section #article_1 ul {
  width: 1618px;
  height: auto;
  margin: 0 auto;
  margin-top: 0;
  padding-top: 0;
  /* background-color: chartreuse; */
  overflow-x: hidden;
  white-space: nowrap;
}

section #article_1 .container {
  width: 100%;
  height: 50px;
  /* background-color: brown; */
  position: relative;
  top: 260px;
}

section #article_1 .container #left_2 {
  width: 50px;
  height: 100%;
  float: left;
  margin-left: 50px;
  background-color: white;
  border: 0;
  /* opacity: 0; */
}

section #article_1 .container #right_2 {
  width: 50px;
  height: 100%;
  float: right;
  margin-right: 50px;
  background-color: white;
  border: 0;
}

section #article_1 .container #left_2 img {
  width: 100%;
  height: 100%;
}

section #article_1 .container #right_2 img {
  width: 100%;
  height: 100%;
}

section #article_1 .container img:hover {
  width: 400px;
  transform:scale(1.2);
  transition: transform.3s;
}

section #article_1 ul li {
  width: 470px;
  height: 600px;
  /* margin-left: 0; */
  /* margin-top: 0;  */
  /* background-color: blue; */
  display: inline-block;
}

section #article_1 ul li div {
  width: 470px;
  height: 480px;
  /* text-align: center; */
  background-color: #f7f7f7;
}

section #article_1 ul li img {
  width: 80%;
  height: 350px;
  margin-top: 50px;
  margin-left: 45px;
  /* background-color: #f7f7f7; */
}

section #article_1 ul li img:hover {
  width: 400px;
  transform:scale(1.1);
  transition: transform.3s;
}


section #article_1 ul li h3 {
  font-family: 'Noto Sans Display', sans-serif;
  margin-left: 0;
  /* text-align: left; */
  /* line-height: 0; */
  /* background-color: khaki; */
  margin: 0;
}

section #article_1 ul li h3:hover {
  color:blue;
}

section #article_1 ul li p {
  font-size: 14px;
  font-family: 'Noto Sans Display', sans-serif;
  color: gray;
  margin-left: 0;
  margin: 0;
  /* line-height: 0; */
}

section #article_1 ul li p:hover {
  color:blue;
}

section #article_2 {
  width: 100%;
  height: 800px;
  /* background-color: violet; */
  margin-top: 140px;
  /* opacity: 0.5; */
  /* overflow: hidden; */
}

section #article_2 h1 {
  /* background-color: burlywood; */
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 40px;
  text-align: left;
  margin-top: 0;
  margin-left: 140px;
  line-height: 0;
}

section #article_2 h1:hover {
  color:blue;
}

section #article_2 ul {
  width: 1618px;
  height: auto;
  margin: 0 auto;
  margin-top: 0;
  padding-top: 0;
  overflow-x: hidden;
  white-space: nowrap;
  /* background-color: cornsilk; */
}

section #article_2 .container {
  width: 100%;
  height: 50px;
  /* background-color: brown; */
  position: relative;
  top: 260px;
}

section #article_2 .container #left_3 {
  width: 50px;
  height: 100%;
  float: left;
  margin-left: 50px;
  background-color: white;
  border: 0;
  /* opacity: 0; */
}

section #article_2 .container #right_3 {
  width: 50px;
  height: 100%;
  float: right;
  margin-right: 50px;
  background-color: white;
  border: 0;
}

section #article_2 .container #left_3 img {
  width: 100%;
  height: 100%;
}

section #article_2 .container #right_3 img {
  width: 100%;
  height: 100%;
}

section #article_2 .container img:hover {
  width: 10px;
  transform:scale(1.2);
  transition: transform.3s;
}

section #article_2 ul li {
  width: 470px;
  height: 600px;
  /* margin-left: 0; */
  /* margin-top: 0;  */
  /* background-color: blue; */
  display: inline-block;
}

section #article_2 ul li div {
  width: 470px;
  height: 480px;
  /* text-align: center; */
  background-color: #f7f7f7;
}

section #article_2 ul li div img {
  width: 80%;
  height: 350px;
  margin-top: 50px;
  margin-left: 45px;
}

section #article_2 ul li div img:hover {
  width: 400px;
  transform:scale(1.1);
  transition: transform.3s;
}

section #article_2 ul li h3 {
  font-family: 'Noto Sans Display', sans-serif;
  margin-left: 0;
  /* text-align: left; */
  /* line-height: 0; */
  /* background-color: khaki; */
  margin: 0;
}

section #article_2 ul li h3:hover {
  color:blue;
}

section #article_3 {
  width: 100%;
  height: 1140px;
  margin: 0 auto;
  margin-top: 75px;
  /* background-color: sandybrown; */
}

#title_article_3 {
  text-align: left;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 40px;
  /* margin-top: 400px; */
  margin-left: 140px;
  /* background-color: sienna; */
  line-height: 0;
}

#title_article_3:hover {
  color:blue;
}

section #article_3 ul {
  width: 1618px;
  height: 1000px;
  margin: 0 auto;
  margin-top: 85px;
  /* background-color: darkmagenta; */
}

section #article_3 ul #first {
  width: 50%;
  height: 100%;
  float: left;
  /* margin-right: 1px; */
  /* background-color: red; */
}

section #article_3 ul #first div {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* background-color: black; */
  padding: 2.5%;
  
}

section #article_3 ul #first div img {
  width: 100%;
  height: 100%;
}

#first div img:hover {
  transform:scale(1.05);
  transition: transform.3s;
}

section #article_3 ul #second {
  width: 50%;
  height: 50%;
  float: right;
  /* margin-left: 5px; */
  /* margin-bottom: 5px; */
  /* background-color: yellow; */
  /* overflow: hidden; */
}

section #article_3 ul #second div {
  width: 100%;
  height: 100%;
  float: right;
  /* margin-left: 5px; */
  /* margin-bottom: 5px; */
  margin: 0 auto;
  /* background-color: black; */
  /* overflow: hidden; */
  padding: 2.5%;
}

section #article_3 ul #second div img {
  width: 100%;
  height: 100%;
}

#second div img:hover {
  transform:scale(1.05);
  transition: transform.3s;

}

/* section #article_3 ul #second video {
  width: 100%;
  height: 100%;
} */

section #article_3 ul #third {
  width: 50%;
  height: 50%;
  float: right;
  /* margin-left: 5px;
  margin-top: 5px; */
  /* background-color: green; */
}

section #article_3 ul #third div {
  width: 100%;
  height: 100%;
  float: right;
  margin-bottom: 0;
  margin-right: 0;
  padding: 2.5%;
  /* margin-left: 5px;
  margin-top: 5px; */
  /* background-color: black; */
}

section #article_3 ul #third img {
  width: 100%;
  height: 100%;
}

#third div img:hover {
  transform:scale(1.05);
  transition: transform.3s;
}


/* #article_3_color {
  width: 100%;
  height: 1194px;
  position: absolute;
  top: 2947px;
  background-color: white;
} */

footer {
  width: 100%;
  height: 700px;
  background-color: black;
  position: relative;
  top: 435px;
}

footer #index {
  width: 1618px;
  height: 280px;
  margin: 0 auto;
  /* background-color: black; */
}

footer #index ul {
  color: white;
  float: left;
  margin-left: 0;
  margin-right: 150px;
  margin-top: 30px;
}

footer #index ul li {
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 18px;
  color: gray;
}

footer #index ul li:hover {
  text-decoration-line: underline;
}


footer #icon {
  width: 1618px;
  height: 200px;
  margin: 0 auto;
  margin-top: 50px;
  /* background-color: white; */
}

footer #icon #icon2 {
  width: 60px;
  height: 60px;
  float: right;
  position: relative;
  top: 100%;
  transform: translate(0, -100%);
  right:0;
  /* background-color: violet; */
  /* margin-top: 50px;
  margin-left: 250px; */
}

/* footer #icon #icon2 {
  width: 30px;
  height: 30px;
  margin-top: 20px; 
}  */

footer #icon div img {
  width: 100%;
  height: 100%;
}

footer #icon #info ul {
  text-align: left;
  color: gray;
  font-family: 'Noto Sans Display', sans-serif;
}

footer #icon #info ul #button {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
}

footer #icon #info ul #button button {
  background-color: black;
  border: black;
  padding: 0;
}

footer #icon #info ul #button img {
  width: 100%;
  height: 100%;
  padding: 0;
}

footer #icon #info ul #button img:hover {
  width: 50px;
  transform:scale(1.5);
  transition: transform.3s;
}